body {
  /*height: 3000px;*/
  background: rgb(4,19,60);
  background: linear-gradient(0deg, rgba(4,19,60,1) 0%, rgba(30,51,116,1) 25%, rgba(42,101,172,1) 50%, rgba(81,195,193,1) 77%, rgba(152,255,245,1) 100%);
}

h1, h2, h3 {
  font-family: 'Lexend Peta', sans-serif;
  color: rgba(4,19,60,1);
  text-shadow: 0 0 2px rgba(42,101,172,0.5);
}
h1 {
  font-size: 132px;
}
h2 {
  font-size: 56px;
}
p {
  color: rgba(152,255,245,1);
  font-family: 'Catamaran', sans-serif;
  font-size: 18px;
  text-shadow: 0px 0px 3px rgba(4,19,60,1);
}




.hero-header {
  text-align: center;
  height: 100vh;
  display: flex;
  /*flex-direction: column;*/
  align-items: center;
}
#hero-header-line {
  width: 50%;
  height: 2px;
  background-color: rgba(4,19,60,1);
}



.about-me {
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
}
.about-me img {
  object-fit: cover;
  border-radius: 50%;
  width: 300px;
  margin-right: 60px;
}
.about-me p {
  color: rgba(4,19,60,1);
  text-shadow: 0 0 2px rgba(42,101,172,0.5);
  font-size: 19px;
}
.about-me-links a {
  color: rgba(4,19,60,0.5);
  text-decoration: none;
  font-size: 38px;
  padding: 8px 25px;
}
.about-me-links a:hover {
  color: rgba(4,19,60,1);
}



.project-line {
  width: 50%;
  height: 2px;
  background-color: rgba(81,195,193,1);
  margin-top: 15vh;
  margin-bottom: 15vh;
}


.card-project {
  overflow: hidden;
  height: 50vh;
  display: flex;
  align-items: center;
}
.card-project img {
  /*height: 100%;*/
  width: 600px;
  border-radius: 6px;
  /*width: 120px;*/
  object-fit: cover;
}
.card-project-info {
  width: 100%;
  align-items: center;
  align-self: center;
  padding: 0 0 0 0;
}
.card-project-info h4 {
  font-size: 32px;
  color: rgba(152,255,245,1);
  font-weight: 600;
  font-family: 'Lexend Peta', sans-serif;
}
.card-project-info h5 {
  font-size: 18px;
  color: rgba(81,195,193,1);
  font-weight: 600;
  font-family: 'Lexend Peta', sans-serif;
  padding-bottom: 16px;
}
.card-project-info p {
  /*color: rgba(152,255,245,1);
  font-size: 24px;*/
  line-height: 1.4;
  margin-bottom: 0;
  margin-top: 8px;
}

.technology-icons {
  font-size: 24px;
  color: rgba(81,195,193,0.7);
  padding: 16px 10px;
}
.card-project-info a {
  font-family: 'Catamaran', sans-serif;
  border: 2px solid rgba(152,255,245,1);
  color: rgba(152,255,245,1);
  text-decoration: none;
  display: inline-block;
  padding: 4px 12px;
  border-radius: 40px;
  transition: 0.5s;
  margin-right: 24px;
}
.card-project-info a:hover {
  color: rgba(81,195,193,1);
  border: 2px solid rgba(81,195,193,1);
  text-decoration: none;
}



.footer {
  margin: auto;

}
.footer-links {
  text-align: center;
  display: flex;
  align-items: center;
}
.footer-links a {
  color:#FFE205;
  opacity: 0.5;
  text-decoration: none;
  font-size: 38px;
  padding: 8px 25px;
}
.footer-links a:hover {
  text-shadow:0 0 3px #FFE205, 0 0 7px #FFE205, 0 0 20px #EDD205;
  opacity: 1;
}
.footer-copyright {
  color:#FFE205;
  float: right;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}


/*HEADERS
font-family: 'Lexend Peta', sans-serif;
BODY
font-family: 'Catamaran', sans-serif;*/


/*LIGHT TEAL
rgba(152,255,245,1)
TEAL
rgba(81,195,193,1)
BLUE
rgba(42,101,172,1)
DEEP BLUE
rgba(30,51,116,1)
DARK BLUE
rgba(4,19,60,1)*/
